*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #bbb;
}

.block-container{
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 280px;
    height: 200px;
    margin: 20px;
    background-color: #fff;
}

.block:hover{
    border: 2px solid red;
}