*{
    margin: 0;
}

.block-container{
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.block {
    width: 90px;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}